.select-rol {
    width: 100%;
    height: 100%;
}



.rol-header img {
    width: 30%;
    height: 30%;
    object-fit: cover;
}

.rol-header {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.rol-body{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 15px;
}   

.rol-footer {
    display: flex;
    justify-content: flex-end; 
    margin-top: 50px;
    padding: 15px;
}
