.profile-content {
    width: 98.5%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* align-items: center; */
    background-color:  rgb(237, 237, 237);
}

.card {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    border-color: white;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-body a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.btn-create {
    width: 98%;
    padding: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    /* background-color: rgb(231, 231, 231);
    border-color:  rgb(231, 231, 231);
    color: black; */
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title {
    padding: 15px;
}