<div class="login-container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="row g-3" (ngSubmit)="validationLogin()" novalidate>
                <div class="col-12">
                    <div class="col-12 mt-3" style="width: 375px;">
                        <label for="username" class="form-label">Usuario:</label>
                        <input [(ngModel)]="usuarioCredentials.usuario" name="usuario" type="text" class="form-control" required #username="ngModel"
                            [class.is-invalid]="username.invalid && (username.dirty || username.touched)"
                            [class.is-valid]="username.valid && (username.dirty || username.touched)" />
                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="invalid-feedback">
                            <p *ngIf="username.errors?.['required']">El nombre de usuario es obligatorio.</p>
                            <p *ngIf="username.errors?.['pattern']">Por favor, ingresa un nombre de usuario válido.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-12 mt-3" style="width: 375px;">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input [(ngModel)]="usuarioCredentials.contrasena" name="contrasena" type="password" class="form-control" required #password="ngModel" required maxlength="8" 
                            [class.is-invalid]="password.invalid && (password.dirty || password.touched)"
                            [class.is-valid]="password.valid && (password.dirty || password.touched)" />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                            <p *ngIf="password.errors?.['required']">La contraseña es obligatoria.</p>
                            <p *ngIf="password.errors?.['pattern']">Por favor, ingresa una contraseña válida.</p>
                            <p *ngIf="password.errors?.['maxlength']">La contraseña no puede tener más de 8 caracteres.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-3" style="width: 375px;">
                    <label for="rol" class="form-label">Escoge tu rol:</label>
                    <select class="form-select" id="rol" name="rol" [(ngModel)]="usuarioCredentials.id_rol" required #rol="ngModel"
                        [class.is-invalid]="rol.invalid && (rol.dirty || rol.touched)"
                        [class.is-valid]="rol.valid && (rol.dirty || rol.touched)">
                        <option value="" disabled>Selecciona un rol</option>
                        <option *ngFor="let rol of roles" [value]="rol.id_rol">{{rol.descripcion}}</option>
                    </select>
                    <div *ngIf="rol.invalid && (rol.dirty || rol.touched)" class="invalid-feedback">
                        <p *ngIf="rol.errors?.['required']">Por favor, selecciona un rol.</p>
                    </div>
                </div>
                
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-dark">Iniciar sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>
