<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Proyecto</div>
  <div class="list-group list-group-flush">
    <a routerLink="/inicio" class="list-group-item list-group-item-action">Inicio</a>
    <a routerLink="/cursos" class="list-group-item list-group-item-action">Cursos</a>
    <a routerLink="/categoria" class="list-group-item list-group-item-action">Categoría</a>
    <a routerLink="/perfil" class="list-group-item list-group-item-action">Perfil</a>
  </div>
</div>
