<div class="sidebar">
    <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-list"></i></button>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel" data-bs-theme="dark">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menú</h5>
        <button type="button" class="btn btn-icon" data-bs-dismiss="offcanvas" aria-label="Close"><i
                class="fa-solid fa-circle-xmark"></i></button>
    </div>
    <div class="offcanvas-body">
        <div class="user-section mb-3">
            <img class="sidebar-perfil" [src]="infoUsuario.url_foto_portada" alt="">
            <h2><a class="perfil" routerLink="/perfil">&#64;{{usuario.usuario}}</a></h2>
        </div>
        <a [routerLink]="['/dashboard/search']" 
            class="animated-button">Cursos<span><i class="fa-solid fa-graduation-cap"></i></span></a>
    </div>
    <hr class="hr">
    <div class="offcanvas-footer">
        <img class="sidebar-logout" [src]="infoUsuario.url_foto_perfil" alt="">
        <div class="footer-text">
            <h3>&#64;{{usuario.usuario}}</h3>
            <div *ngIf="usuario.id_rol === 1">
                <p>Estudiante</p>
            </div>
            <div *ngIf="usuario.id_rol === 2">
                <p>Creador</p>
            </div>
        </div>
        <button class="btn" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>
        </button>
    </div>
</div>